@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bentham&family=Montserrat:wght@700&family=Roboto:wght@100&display=swap");

$light-color: #f4f4f4;
$text-color: grey;
$primary-color: #01bfff;
$secondary-color: #222;
$hover-color: #caf1ed;
$font-body: "Lato", sans-serif, "Montserrat", sans-serif;

* {
  box-sizing: inherit;
  // display: flex;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  left: 0;
  min-width: 350px;
  max-width: 350px;
  background-color: #282828;
  color: $light-color;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 16px;
  height: 30px;
  font-size: 24px;
  color: #fafafa;
}

// .style-intro {
//     margin: 18px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: rgba(250, 250, 250, 0.3);
// }

.buttons-scroll_wrapper {
  height: 751px;
  overflow: auto;
  // hidescroll bar

  &::-webkit-scrollbar {
    display: none;
  }
}

.styles__btn {
  display: flex;
  background: #141414;
  width: 100%;
  height: 100px;
  cursor: pointer;
  border: 1px solid #000000;

  &:hover {
    background-color: #333333;
    transition: all 0.5s ease;
  }
}

.style_btn_text {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999999;
}

.style_btn_img_wrapper {
  width: 50%;
  height: 100%;

  .style_btn_img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.arch_detail_img {
  width: 350px;
  height: 260px;
  object-fit: cover;
}

.container_style {
  height: 500px;
}

.container_style > * {
  margin: 0 0 16px 16px;
}

.container_style > img {
  margin-left: 0px;
}

.back_btn {
  padding: 5px 15px 5px 15px;
  color: #999999;
  border: 1px solid #000000;
  background-color: #141414;
  cursor: pointer;
  position: absolute;
  top: 14px;
  left: 16px;

  &:hover {
    background-color: #333333;
    transition: all 0.5s ease;
  }
}

.arch_detail_img {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.style_name {
  // background-color: #141414;
  color: #e4e6eb;
  top: 345px;
  left: 30px;
}

.time_frame {
  font-size: 14px;
  color: #999999;
  display: flex;
  align-items: center;

  img {
    margin-right: 16px;
  }
}

.single-divider {
  // background-color: rgba(250, 250, 250, 0.3);
  background-color: #222224;
  width: 294px;
  height: 2px;
  top: 410px;
  left: 25px;
}

.single-with-icon {
  display: flex;
  align-items: center;

  img {
    margin-right: 12px;
  }

  p {
    color: #999999;
  }
}

.style-description {
  width: 290px;
  height: 157px;
  left: 30px;
  top: 439px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
